<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/web-base.css">
    <style type="text/css">
        table{border-collapse: collapse; margin-top:6px; width:100%; text-align: left;left;}
        table td, table th{border: 1px solid #cad9ea;color: #666;height: 30px;padding:6px;}
        table thead th{background-color: #CCE8EB;width: 100px;}
        table tr:nth-child(odd){background: #fff;}
        table tr:nth-child(even){background: #F5FAFA;}
    </style>
</head>
<body>
<span>位置 > 服务投诉：</span>
<table>
    <thead>
    <tr th:if = "${hBasePageBean.currPage} lt ${hBasePageBean.totalPage}">
        <th>nextPageRow：</th><th><a th:href ="@{'/hbase/hServiceComplaints?pagesize=5&startRowKey='+${hBasePageBean.nextPageRow}+'&page='+${hBasePageBean.currPage+1}}"><span th:text="${hBasePageBean.nextPageRow}"></span>（下一页）</a></th>
    </tr>
    <tr>
        <th>curPageRow：</th><th><span th:text="${hBasePageBean.curPageRow}"></span></th>
    </tr>
    <tr th:if = "${hBasePageBean.currPage} gt 1">
        <th>prePageRow：</th><th><a th:href ="@{'/hbase/hServiceComplaints?pagesize=5&startRowKey='+${hBasePageBean.prePageRow}+'&page='+${hBasePageBean.currPage-1}}"><span th:text="${hBasePageBean.prePageRow}"></span>（上一页）</a></th>
    </tr>
    <tr>
        <th>page：</th><th><span th:text="${hBasePageBean.currPage}"></span></th>
    </tr>
    <tr>
        <th>totalcount：</th><th><span th:text="${hBasePageBean.totalCount}"></span></th>
    </tr>
    <tr>
        <th>pagesize：</th><th><span th:text="${hBasePageBean.pageSize}"></span></th>
    </tr>
    <tr>
        <th>totalpage：</th><th><span th:text="${hBasePageBean.totalPage}"></span></th>
    </tr>
    </thead>
    <tbody>
    <tr><th>行键</th><th width="30%">工单号</th><th>诉求类别</th><th>受理人员</th><th>用户名称</th><th>所属单位</th><th width="30%">接收时间</th><th>操作</th></tr>
    <tr th:each="msg : ${hBasePageBean.list}">
        <th scope="row" th:text="${msg.id}"></th><th scope="row" th:text="${msg.gdh}"></th><th scope="row" th:text="${msg.sqlb}"></th><th scope="row" th:text="${msg.slry}"></th><th scope="row" th:text="${msg.yhmc}"></th><th scope="row" th:text="${msg.ssdw}"></th><th scope="row" th:text="${msg.sendTime}"></th>
        <th><a th:href="@{'/hbase/hServiceComplaints/'+${msg.id}}">查看</a></th>
    </tr>
    </tbody>
</table>
<br><br>
</body>
</html>